{:paths ["db" "resources" "src"]

 :deps
 {org.clojure/clojure         {:mvn/version "1.10.0"}
  coast-framework/coast.theta {:mvn/version "1.5.0"}
  org.xerial/sqlite-jdbc      {:mvn/version "3.25.2"}
  nrepl                       {:mvn/version "0.6.0"}
  buddy/buddy-hashers         {:mvn/version "1.4.0"}
  clj-time                    {:mvn/version "0.15.2"}}

 :aliases
 {:test
  {:extra-paths ["test"]
   :main-opts   ["-m" "cognitect.test-runner"]
   :extra-deps
   {com.cognitect/test-runner {:git/url "git@github.com:cognitect-labs/test-runner"
                               :sha     "5f2b5c2efb444df76fb5252102b33f542ebf7f58"}}}

  :uberjar
  {:main-opts  ["-m" "mach.pack.alpha.capsule"
                "target/codez.jar"]
   :extra-deps {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
                                 :sha     "2769a6224bfb938e777906ea311b3daf7d2220f5"}}}}}
