{:dev {:database "codez_dev.sqlite3"
       :adapter  "sqlite"}

 :test {:database "codez_test.sqlite3"
        :adapter  "sqlite"}

 :prod {:database #env :db-name
        :adapter  "sqlite"}}

 ; or you can use postgres

 ; :prod {:database #env :db-name
 ;        :adapter "postgres"
 ;        :username #env :db-username
 ;        :password #env :db-password
 ;        :host #env :db-host
 ;        :port #env :db-port}}
