.lift {
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translate(0, 0);
}

.lift:hover,
.lift:focus {
    transform: translate(-5px, -5px);
}

.lift:active {
    transform: translate(-5px, -5px);
}

.cursor-text:hover {
    cursor: text;
}
